*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-container-1{
    display: flex;
}
.project-container-1 .project-img{
    height: 300px;
    width: 350px;
}
.project-container-1 .goToBtn{
    display: block;
    border-radius: none;
    /* color: red; */
}